/* 
1. Posiscionamiento
2. Modelo caja (Bax model)
3. Tipografia
4. Visuales
5. Otros
*/

:root {  /* variables */
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1A9AF1;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
    --grey-black: #777676;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column; /* para utilizar align-self */
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center; /* centra y deja el mismo espacio en izquierda y derecha */
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/abajo.svg");
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/imgs/bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-tables-container {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /* margin: 0 auto;
    width: 800px; */
}
.main-currency-table {
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 50px 20px 0;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
}
.main-currency-table .currency-table--title2 {
    color: var(--secondary-blue);
}
.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey-black);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .table__align-left {
    padding-left: 15px;
    text-align: left;
}
.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/vector-bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/vector-ethereum.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date {
    width: 190px;
    height: 31px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black); 
}
.product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("../assets/imgs/papa.svg");
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    
}
.product-datail--title h2 {
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}
.product-datail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    text-align: center;
}
.product-datail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-datail--card .styles {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.product-datail--card .clock {
    background-image: url("../assets/icons/reloj.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-datail--card .vista {
    background-image: url("../assets/icons/vista.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-datail--card .dolar {
    background-image: url("../assets/icons/dolar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-datail--card .bien {
    background-image: url("../assets/icons/bien.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #cecece;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/imgs/bitcoinbaby.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   /* Al hacer scroll se ve toda la imagen */
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}
.main-plans-container {
    width: 100%;
    min-width: 230px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    /* margin-top: 50px; */
}
.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-black);
}
.plans-container--slider {  /* scroll horizontal */
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center; /* para que siempre de vea toda la targeta */
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

}
.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    padding: 6px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price {
    position: relative;
    width: fit-content;
    padding: 5px 0;
    margin: 0 auto;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.plan-card--price span {
    position: absolute;
    width: 8px;
    height: 15px;
    left: -10px;
    top: -8px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Inter;
}
.plan-card--saving {
    font-size: 1.2rem;
    color: var(--grey-black);
}
.plan-card--ca {
    width: 151px;
    height: 48px;
    margin-top: 20px;
    padding: 12px 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--black);
}
.plan-card--ca:hover {
    border: 2px solid var(--secondary-blue);
}
.warm-black {
    background-color: var(--warm-black);
    color: var(--just-white);
}
.warm-black:hover {
    background-color: var(--off-white);
    border: 2px solid var(--secondary-blue);
    color: var(--black);
}
.plan-card--ca span {
    display: inline-block;  /* Para que se pueda ver  */
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/adelante.svg");
    vertical-align: text-bottom;  /* para alinear el icono y el texto */
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
.right img {
    width: 80px;
    height: 60px;
}
